
channels\.csv

\.vscode/launch\.json

\node_modules\**\
node_modules/

\.eslintrc

test/specific/

test/csvFile_large\.csv

test/jsonMaker\.js

test/channelsFile\.json
built/src/CSV2JSON.js.map
*.map
